<!DOCTYPE html>
<html>
  <head>
       <meta charset="utf-8">
      <title>Quiz</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
     <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <div class="container">
    <div class="app">
      <h1 class="title">Quiz</h1>
      {{{body}}}
    </div>
        <div><a class="nav" href="/">Home</a></div>
      </div>
  </body>
</html>
