<div class="container">
  <div class="results">
    <h2> Results </h2><br>

    <div>
      <ol>
        {{#each answers}}
          <li>{{q}} and you are {{answer}}</li>
        {{/each}}
      </ol>
    

    </div>

  </div>
</div>
